body{
    font-family: 'Fire Code', monospace;
    margin: 0;
    background-color: var(--background);

}


h2{
    color: var(--white);
}
a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.1em;
}